<div class="container">
  <div class="row space-top">
    <div class="col-md-12">
      <p></p>
      <h1>My Ads</h1>
      <p></p>
    </div>
  </div>
  <div class="ad" *ngIf="adsMy.length != 0; else empty">
    <div class="media" *ngFor="let ad of adsMy">
      <img src="{{ ad.image }}" class="align-self-start mr-3" />
      <div class="media-body">
        <h5 class="mt-0">{{ ad.title }}</h5>
        <p>{{ ad.description | slice: 0:150 }}...</p>
        <p class="mb-0">${{ ad.price }}</p>
        <p></p>

        <button [routerLink]="['/ads/details', ad._id]" class="btn btn-info"
          >Details</button>
        <button [routerLink]="['/ads/edit', ad._id]" class="btn btn-success">Edit</button>
        <button (click)="deleteAd(ad._id)" class="btn btn-danger">Delete Item</button>
      </div>
    </div>
  </div>

  <ng-template #empty>
    <div class="col-md-12">
      <h2>No ads</h2>
    </div>
  </ng-template>
</div>
<ng-template #loading>
  <div class="col-md-12"><h2>Loading...</h2></div>
</ng-template>
