<div *ngIf="(ads$ | async) as ads; else loading">
  <div class="row space-top" *ngIf="ads.length != 0; else empty">
    <div class="col-md-4" *ngFor="let ad of ads">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <blockquote class="card-blockquote">
            <img src="{{ ad.image }}" />
            <p></p>
            <p>{{ ad.title }}</p>
            <p>{{ ad.description | slice: 0:20 }}</p>
            <footer>
              Looking for
              <cite title="Source Title">this</cite>
              ?
            </footer>
            <div class="pull-right">
              <a [routerLink]="['/ads/details', ad._id]" class="btn btn-info"
                >Details</a
              >
              <span *ngIf="authService.isAdmin()"
                ><button (click)="deleteAd(ad._id)" class="btn btn-danger"
                  >Delete Item</button
                ></span
              >
            </div>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <ng-template #empty>
    <div class="col-md-12">
      <h2>No ads</h2>
    </div>
  </ng-template>
</div>
<ng-template #loading>
  <div class="col-md-12"><h2>Loading...</h2></div>
</ng-template>
